{:name "ui-markdown"
 :clj-require []
 :theme {:available {:prose {true ["markdown/prose.css"]}
                     :prose-mirror {true ["prosemirror-view/style/prosemirror.css"
                                          "prosemirror-menu/style/menu.css"
                                          "markdown/prosemirror-gorilla.css"]}}
         :current {:prose true
                   :prose-mirror true}}
 :cljs-namespace [ui.markdown.viewer
                  ui.markdown.goldly.prosemirror-atom]
 :cljs-bindings {'markdown ui.markdown.viewer/markdown-viewer
                 'prosemirror ui.markdown.goldly.prosemirror-atom/prosemirror-atom}
 :cljs-ns-bindings {}
 :pinkie {:p/markdown  ui.markdown.viewer/markdown-viewer
          :p/prosemirror ui.markdown.goldly.prosemirror-atom/prosemirror-atom}
 :lazy false ; markdown is used by notebook, so cannot be lazy
 :snippets [{:type :pinkie
             :category :markdown
             :id :html-prose
             :filename "snippets/markdown/prose.edn"}
            {:type :pinkie
             :category :markdown
             :id :markdown-viewer
             :filename "snippets/markdown/viewer.edn"}
            {:type :goldly
             :category :markdown
             :id :markdown-viewer2
             :filename "snippets/markdown/viewer2.clj"}
            {:type :goldly
             :category :markdown
             :id :markdown-editor
             :filename "snippets/markdown/prosemirror.edn"}]}
